{% extends "app/layout.html" %}

{% block content %}

<!--------banner section------>
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="promo-title">BEST SME MANAGEMENT SYSTEM</p>
                <p>Get state of the art software and cloud services to gurantee you security and success.</p>
            </div>
        </div>
    </div>

</section>

<!-------Services section----->
<section id="services">
    <div class="container text-center">
        <h1 class="title">What We DO?</h1>
        <div class="row text-center">
            <div class="col-md-4 services">
                <h3>Inventory</h3>
                <p>Get state of the art inventory management, with automated dating and arrangement. </p>
            </div>
            <div class="col-md-4 services">
                <h3>Invoicing</h3>
                <p>Send automated invoices to customers emails and avoid the hassle.Invoices are also sent your<br />
                email as well to keep you up to date</p>
            </div>
            <div class="col-md-4 services">
                <h3>Cloud Everything</h3>
                <p>You can be assured of the intergrity of your data.Everything is stored on the cloud, which ensures protection and security. </p>
            </div>
        </div>
    </div>
</section>


{% endblock %}
